		<div>
			<div data-dojo-type="sc/plat/dojo/widgets/ControllerWidget"
					data-dojo-props="data_dojo_props_diff: {
					uId: 'extn_BusinessActivity',
					packageName: 'extn.home.portlets',
					className: 'BusinessActivityPortlet',
					handleInit: true,
			_sc_extensibility_operation: 'insert',
			_sc_extensibility_referenceUId: 'myAlertsPortlet',
			_sc_extensibility_position: 'before',
			_sc_extensibility_moveOrder: '1',
				scExtensionDataFn: function() {
					return {
					}
				}}">
	</div>
		</div>
