		<div>
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'detailsPrimaryInfoPanel' , 
		_sc_extensibility_moveOrder : '30' , 
		_sc_extensibility_referenceUId : 'DST_AdditionalPanel' , 
		uId : 'extn_OrderTreePanel' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '31' , 
		_sc_extensibility_referenceUId : 'DST_PrimaryInfoPanel' , 
		uId : 'extn_OrderTreePanel' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'pnlSecondaryInfo'  
	 					}">
		 	<div data-dojo-type="sc/plat/dojo/layout/AdvancedTableLayout" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								cols : 2  
	 					}">
		 	</div>  
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '12' , 
		_sc_extensibility_referenceUId : 'DST_SecondaryInfoPanel' , 
		uId : 'DST_MainInfoPanel' , 
		_sc_extensibility_position : 'after'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '6' , 
		_sc_extensibility_referenceUId : 'tabContainer' , 
		uId : 'extn_pnlMoreAttributes' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_More_Attributes')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '38' , 
		_sc_extensibility_referenceUId : 'tabContainer' , 
		uId : 'extn_contentpane_Links' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_Order_Links')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '44' , 
		_sc_extensibility_referenceUId : 'DST_MainInfoPanel' , 
		uId : 'extn_contentpane_Status' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('Status')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="idx/layout/ContentPane" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'move' , 
		_sc_extensibility_moveOrder : '48' , 
		_sc_extensibility_referenceUId : 'tabContainer' , 
		uId : 'extn_contentpane_Status' , 
		_sc_extensibility_position : 'last'  
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'dxSpecialButton idxSpecialButton idxButtonIcon' , 
		_sc_extensibility_moveOrder : '8' , 
		_sc_extensibility_referenceUId : 'extn_pnlMoreAttributes' , 
		uId : 'extn_btnSave' , 
		_sc_extensibility_position : 'last'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Save')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'dxSpecialButton idxSpecialButton idxButtonIcon' , 
		_sc_extensibility_moveOrder : '33' , 
		_sc_extensibility_referenceUId : 'extn_btnSave' , 
		uId : 'extn_Retry_Validation_btn' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Retry_Validation')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'dxSpecialButton idxSpecialButton idxButtonIcon' , 
		_sc_extensibility_moveOrder : '35' , 
		_sc_extensibility_referenceUId : 'extn_Retry_Validation_btn' , 
		uId : 'extn_Retrybtn' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Retry')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="dijit/form/Button" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		'class' : 'dxSpecialButton idxSpecialButton idxButtonIcon' , 
		_sc_extensibility_moveOrder : '34' , 
		_sc_extensibility_referenceUId : 'extn_Retry_Validation_btn' , 
		uId : 'extn_MarkAsComplete_btn' , 
		_sc_extensibility_position : 'after'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	label : 			this.getSimpleBundleString('extn_Mark_as_Complete')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/Link" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'change' , 
		_sc_extensibility_referenceUId : 'lnkTotalAmountDisplay' , 
		renderHidden : true , 
		disabled : true  
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '5' , 
		_sc_extensibility_referenceUId : 'lblExchangeTypeDisplay' , 
		uId : 'extn_lblOrderType' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.OrderType'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
,	
			 	label : 			this.getBundleString('extn_Order_Type')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="sc/plat/dojo/widgets/DataLabel" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '9' , 
		_sc_extensibility_referenceUId : 'lblExchangeTypeDisplay' , 
		uId : 'extn_lblPrp' , 
		_sc_extensibility_position : 'before'  
 		,scExtensionDataFn :
		 function() { 
			return { 
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.Purpose'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
,	
			 	label : 			this.getBundleString('extn_Activator')
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '7' , 
		_sc_extensibility_referenceUId : 'extn_pnlMoreAttributes' , 
		uId : 'extn_gridMoreAttributes' , 
		autoHeight : true , 
		renderHidden : false , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/Edit'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/CellWidget'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	title : 			this.getSimpleBundleString('extn_More_Attributes')
,	
			 	structure : 	[
	 		{
		 field : 			'extn_Value'
,
		 _sc_extensibility_operation : 			'insert'
,
		 editor : 				 					'idx.form.TextBox'
,
		 bindingData : 	{
		 tFieldBinding : 	{
		 path : 			'DescribedByValue'
	}
,
		 sFieldBinding : 	{
		 path : 			'DescribedByValue'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'8'
,
		 _sc_extensibility_referenceUId : 			'extn_gridMoreAttributes'
,
		 scuiDataType : 			'Text-400'
,
		 name : 			this.getSimpleBundleString('extn_Value')
,
		 uId : 			'extn_view_97074'
,
		 editable : 			'true'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_grid_Item_Id'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ItemID'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'10'
,
		 _sc_extensibility_referenceUId : 			'extn_gridMoreAttributes_view'
,
		 scuiDataType : 			'Text-400'
,
		 name : 			this.getSimpleBundleString('extn_Item_Id')
,
		 uId : 			'extn_ItemId'
,
		 _sc_extensibility_position : 			'after'
	}
,
	 		{
		 _sc_extensibility_operation : 			'move'
,
		 _sc_extensibility_moveOrder : 			'13'
,
		 _sc_extensibility_referenceUId : 			'extn_view_97074'
,
		 uId : 			'extn_ItemId'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 field : 			'extn_Characteristic'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 tFieldBinding : 	{
		 path : 			'DescribedByCharacteristic'
	}
,
		 sFieldBinding : 	{
		 path : 			'DescribedByCharacteristic'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'36'
,
		 _sc_extensibility_referenceUId : 			'extn_view_97074'
,
		 name : 			this.getSimpleBundleString('extn_Characteristic')
,
		 uId : 			'extn_gridCharacteristic'
,
		 _sc_extensibility_position : 			'before'
	}
,
	 		{
		 field : 			'extn_ItemID'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ItemID'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'37'
,
		 _sc_extensibility_referenceUId : 			'extn_gridCharacteristic'
,
		 name : 			this.getSimpleBundleString('extn_Item_Id')
,
		 uId : 			'extn_gridItemID'
,
		 _sc_extensibility_position : 			'before'
	}
	]
,	
			 	bindingData : 	{
		 hiddenCustomColumns : 	[
	 		{
		 field : 			'extn_PropertyKey'
,
		 tFieldBinding : 	{
		 path : 			'PropertyKey'
	}
,
		 sFieldBinding : 	{
		 path : 			'PropertyKey'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_0'
	}
,
	 		{
		 field : 			'extn_OrderHeaderKey'
,
		 tFieldBinding : 	{
		 path : 			'OrderHeaderKey'
	}
,
		 sFieldBinding : 	{
		 path : 			'OrderHeaderKey'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_1'
	}
,
	 		{
		 field : 			'extn_OrderLineKey'
,
		 tFieldBinding : 	{
		 path : 			'OrderLineKey'
	}
,
		 sFieldBinding : 	{
		 path : 			'OrderLineKey'
	}
,
		 scExtensibilityArrayItemId : 			'extn_HiddenCustomColumnsList_2'
	}
	]
,
		 targetBinding : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_TargetBindings_0'
,
		 path : 			'Order.Extn.EXTNOrderHeaderPropertiesList.EXTNOrderHeaderProperties'
,
		 allowEmpty : 			true
,
		 namespace : 			'extn_ChangeOrderInput'
	}
	]
,
		 sourceBinding : 	{
		 path : 			'MoreAttributeList.MoreAttribute'
,
		 namespace : 			'extn_orderMoreCharactersticks'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'edit'
,
		 isExtn : 			true
,
		 isAddedInExtn : 			true
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '39' , 
		_sc_extensibility_referenceUId : 'extn_contentpane_Links' , 
		uId : 'extn_gridx_Links' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_Relation'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'LinkageType'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'40'
,
		 _sc_extensibility_referenceUId : 			'extn_gridx_Links'
,
		 name : 			this.getSimpleBundleString('extn_Relation')
,
		 uId : 			'extn_view_22829'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_OrderType'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'LinkedOrderType'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'41'
,
		 _sc_extensibility_referenceUId : 			'extn_gridx_Links'
,
		 name : 			this.getSimpleBundleString('extn_Order_Type')
,
		 uId : 			'extn_gridx_Links_view_OrderType'
,
		 _sc_extensibility_position : 			'last'
	}
,
	 		{
		 field : 			'extn_OrderNo'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'LinkedOrderNo'
,
		 dynamicBindingFunc : 			'getHTMLforLinkedOrderNo'
,
		 dynamicBindingPackage : 			'extn.extnUtils'
,
		 dynamicBindingClassName : 			'CSGUtils'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'42'
,
		 _sc_extensibility_referenceUId : 			'extn_gridx_Links'
,
		 name : 			this.getSimpleBundleString('OrderNo')
,
		 uId : 			'extn_gridx_Links_view_OrderNo'
,
		 _sc_extensibility_position : 			'last'
	}
,
	 		{
		 field : 			'extn_ProductID'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ExtendedDisplayDescription'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'43'
,
		 _sc_extensibility_referenceUId : 			'extn_gridx_Links'
,
		 name : 			this.getSimpleBundleString('ItemID')
,
		 uId : 			'extn_gridx_Links_view_ProductID'
,
		 _sc_extensibility_position : 			'last'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.Extn.EXTNOrderHeaderLinksList.EXTNOrderHeaderLinks'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		 	<div data-dojo-type="gridx/Grid" 
	 					data-dojo-props="data_dojo_props_diff: {
	 								_sc_extensibility_operation : 'insert' , 
		_sc_extensibility_moveOrder : '45' , 
		_sc_extensibility_referenceUId : 'extn_contentpane_Status' , 
		uId : 'extn_gridx_Status' , 
		autoHeight : true , 
		cacheClass : 'gridx/core/model/cache/Async' , 
		_sc_extensibility_position : 'first'  
 			 , modules : 	[
	 		{
		 minWidth : 			0
,
		 moduleClass : 			'gridx/modules/ColumnResizer'
	}
,
	 		{
		 autoResize : 			true
,
		 moduleClass : 			'gridx/modules/ColumnWidth'
	}
,
	 		{
		 moduleClass : 			'gridx/modules/HLayout'
	}
,
	 		{
		 triggerOnCell : 			true
,
		 moduleClass : 			'gridx/modules/select/Row'
	}
	]
		,scExtensionDataFn :
		 function() { 
			return { 
			 	structure : 	[
	 		{
		 field : 			'extn_Status'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'DateTypeId'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'46'
,
		 _sc_extensibility_referenceUId : 			'extn_gridx_Status'
,
		 name : 			this.getSimpleBundleString('Status')
,
		 uId : 			'extn_view_23557'
,
		 _sc_extensibility_position : 			'first'
	}
,
	 		{
		 field : 			'extn_Date'
,
		 _sc_extensibility_operation : 			'insert'
,
		 bindingData : 	{
		 sFieldBinding : 	{
		 path : 			'ActualDate'
	}
	}
,
		 _sc_extensibility_moveOrder : 			'47'
,
		 _sc_extensibility_referenceUId : 			'extn_gridx_Status'
,
		 name : 			this.getSimpleBundleString('Date')
,
		 uId : 			'extn_gridx_Status_view_Date'
,
		 _sc_extensibility_position : 			'last'
	}
	]
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Order.OrderDates.OrderDate'
,
		 namespace : 			'getCompleteOrderDetails_output'
	}
	}
,	
			 	__scModuleInfo : 	{
		 Modules : 	{
		 Module : 	[
	 		{
		 name : 			'columnResizer'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'0'
,
		 name : 			'minWidth'
,
		 type : 			'Number'
	}
	]
	}
	}
,
	 		{
		 name : 			'columnWidth'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'autoResize'
,
		 type : 			'Boolean'
	}
	]
	}
	}
,
	 		{
		 name : 			'selectRow'
,
		 isExtn : 			true
,
		 Properties : 	{
		 Property : 	[
	 		{
		 scExtensibilityArrayItemId : 			'extn_ModuleProperty_1'
,
		 initialValue : 			'true'
,
		 name : 			'triggerOnCell'
,
		 type : 			'Boolean'
	}
	]
	}
	}
	]
	}
	}
,	
			 	toolBar : 	[
	]
,	
			}
		}
	 					}">
		 	</div>  
		</div>
