<div class="sc-platform-screen-default myalertsportlet">
    <!-- Licensed Materials - Property of IBM IBM Call Center for Commerce
    (5725-P82) (C) Copyright IBM Corp. 2013 All Rights Reserved. US Government
    Users Restricted Rights - Use, duplication or disclosure restricted by
    GSA ADP Schedule Contract with IBM Corp. -->
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		resourceId : 'ISCALRT0003' , 
		'class' : 'isccsScreen portlet' , 
		colspan : 1 , 
		uId : 'portletPanel' , 
		layoutAlign : 'top'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	'aria-label' : 			this.getSimpleBundleString('extn_Business_Activity')
			}
		}
" role='region'>
        <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true , 
		'class' : 'contentSeparator portletHeader' , 
		uId : 'portletHeaderPanel'  
 ">
            <div data-dojo-type="sc/plat/dojo/widgets/Label" data-dojo-props="		'class' : 'primaryInformation' , 
		shouldEncodeValue : false , 
		uId : 'portletName'  
 		,scParamDataFn :
		 function() { 
			return { 
			 	value : 			this.getSimpleBundleString('extn_Business_Activity')
,	
			 	bindingData : 	{
		 sourceBinding : 	{
		 path : 			'Portlet.Title'
,
		 namespace : 			'portletTitle'
	}
	}
			}
		}
" role='heading'></div>
            <div data-dojo-type="sc/plat/dojo/widgets/Image" data-dojo-props="		imageSrc : '/isccs/resources/css/icons/images/alertPortlet.png' , 
		'class' : 'portletImage' , 
		appendToContextRoot : true , 
		uId : 'portletImage'  
 "></div>
        </div>
       
       <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="          spanLabel : true , 
                'class' : 'PortletContent singlecolumntable' , 
                uId : 'creatCustomerPanel'  
 ">
		 <div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="spanLabel : true , 
                uId : 'bOrderStates'  
                ,scParamDataFn :
                 function() { 
                        return { 
                                value : this.getSimpleBundleString('extn_Action_OrderStates')
                        }
                }
			"></div>
		<div data-dojo-type="sc/plat/dojo/widgets/Link" data-dojo-props="spanLabel : true , 
                uId : 'bReport2'  
                ,scParamDataFn :
                 function() { 
                        return { 
                                value : this.getSimpleBundleString('extn_Action_Report2')
                        }
                }
			"></div>

		</div>
    </div>
</div>
