<div class="sc-platform-screen-default ordersearch">
    <!-- Licensed Materials - Property of IBM IBM Call Center for Commerce
    (5725-P82) (C) Copyright IBM Corp. 2013 All Rights Reserved. US Government
    Users Restricted Rights - Use, duplication or disclosure restricted by
    GSA ADP Schedule Contract with IBM Corp. -->
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true ,
		uId : 'systemMessagePanelPopup' ,
		renderHidden : true
 "></div>
    <div data-dojo-type="idx/layout/ContentPane" data-dojo-props="		spanLabel : true ,
		'class' : 'isccsScreen' ,
		uId : 'SST_ScreenHolder'
 ">
		<iframe src="https://oms.innovationcloud.info/images/Dashboard.html" width="100%" height="100%" frameBorder="0" scrolling="no"></iframe>

    </div>
</div>
