<!--
  Licensed Materials - Property of IBM Sterling Order Management Store (5725-D10),  IBM Order Management (5737-D18), IBM Store Engagement (5737D58)
  (C) Copyright IBM Corp. 2017 All Rights Reserved.
  US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->




	<div class="list-holder" ng-if="model.shipmentDetails.Shipment.StoreBatchList.TotalNumberOfRecords > 0" role="region" >
		<ul class="repeating-panel-holder"  isc-pagination="{
							'type': 'continuousScrolling',
							'nextPageHandler': uiGetNextRecords,
							'requestedActionValidator':uiNextPageActionValidator,
							'elementWithScrollbar':'parent'
						}">

			<li ng-repeat="batch in model.shipmentDetails.Shipment.StoreBatchList.StoreBatch | limitTo:ui.recordShownCount track by batch.BatchNo" class="repeating-panel">
					<div class="list-with-indicator">
						<div class="status-indicator-icon" >
							<!-- <img alt="" ng-if="batch.ImageUrl" class="" ng-src="{{uiGetDueInImageUrl(batch.ImageUrl)}}"> -->
							 <span class="duein app-glyphicons app-icon-{{batch.SLACssClass}} {{batch.SLACssClass}}" isc-i18n="[title]{{batch.TimeRemaining}}">
	                            </span>	 
						</div>
						
						<div class="detail-information">					
							<div class="form-view">
							  <label ng-if="batch.Status != '1000'" class="grp-hdr-txt zero-width-label hash-number-align" isc-i18n="shipmentInBatch.LABEL_Batch"></label>
							  <label class="grp-hdr-txt zero-width-label" ng-bind="batch.BatchNo"></label>
							</div>
							<div>
								<span ng-if="batch.DisplayToteId" class="form-view" ng-class="{'pipe-border':(batch.DisplayToteId != undefined && batch.DisplayToteId != '' && batch.DisplayToteId != null)}">
									<span class="comapps-label zero-width-label" isc-i18n="shipmentInBatch.LABEL_ToteNo"></span>
									<span class="comapps-label zero-width-label"ng-bind="batch.DisplayToteId"></span>
								</span>
								<span ng-if="batch.AssignedToUsername" class="form-view" >
									<span class="comapps-label zero-width-label" ng-bind="batch.AssignedToUsername"></span>
								</span>
							</div>
							
							<div ng-if="batch.Status == '1100' || batch.Status == '2000'">
								<div isc-i18n="shipmentInBatch.LABEL_In_progress_status" class="secondary-label-text status-label"></div>
							</div>
						</div>

					</div>					
		</li>
	</ul>
	
</div>
