<!--
  Licensed Materials - Property of IBM Sterling Order Management Store (5725-D10),  IBM Order Management (5737-D18), IBM Store Engagement (5737D58)
  (C) Copyright IBM Corp. 2017 All Rights Reserved.
  US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<header class="modal-header" role="banner" isc-i18n="[aria-label]printPickList.aria_printPickListHeader">
    <h4 id="modalTitle" class="modal-title" isc-i18n="printPickList.TITLE_PrintPickList"></h4>
</header>

<section class="modal-body" role="region">
	
	<div class="form-view bopis-print-holder" isc-resource-id="WSC000057">
		<div class="checkbox" role="presentation">
			 <label>
			 	<input type="checkbox" role="checkbox" id="BOPISShipmentCheckBox" name="BOPISShipmentCheckBox" isc-i18n="[i18n:aria-label]printPickList.aria_selectToPrintBOPISShipment" ng-model="ui.printBOPISShipments" ng-disabled="ui.BOPISShipmentsToBePrinted == 0">
			 	<span class="select-icon"></span>
		 		<span class="grp-hdr-txt" name="BOPISShipmentCountLabel" isc-i18n="[i18n]({count:'{{ui.BOPISShipmentsToBePrinted}}'})printPickList.LABEL_PrintBOPISShipment"></span>
			 </label>
		</div>
		<div class="printed-label" ng-if="ui.BOPISShipmentsAlreadyPrinted > 0" class="" name="AlreadyPrintedLabel" isc-i18n="[i18n]({printedShipmentCount:'{{ui.BOPISShipmentsAlreadyPrinted}}', count:'{{ui.totalBOPISShipmentsToBePicked}}'})printPickList.LABEL_AlreadyPrintedShipment"></div>
	</div>	
	
	<div class="form-view sfs-print-holder" isc-resource-id="WSC000058">
	    <div class="checkbox" role="presentation">
			<label>
				<input type="checkbox" role="checkbox" id="SFSShipmentCheckBox" name="SFSShipmentCheckBox" isc-i18n="[i18n:aria-label]printPickList.aria_selectToPrintSFSShipment" ng-model="ui.printSFSShipments" ng-disabled="ui.SFSShipmentsToBePrinted == 0">
			 	<span class="select-icon"></span>
				<span class="grp-hdr-txt" name="SFSShipmentCountLabel" isc-i18n="[i18n]({count:'{{ui.SFSShipmentsToBePrinted}}'})printPickList.LABEL_PrintSFSShipment"></span>
			 </label>
		</div>
		<div class="printed-label" ng-if="ui.SFSShipmentsAlreadyPrinted > 0" class="" name="AlreadyPrintedLabel" isc-i18n="[i18n]({printedShipmentCount:'{{ui.SFSShipmentsAlreadyPrinted}}', count:'{{ui.totalSFSShipmentsToBePicked}}'})printPickList.LABEL_AlreadyPrintedShipment"></div>
	</div>	
	
</section>

<footer class="modal-footer" role="contentinfo" isc-i18n="[aria-label]printPickList.aria_printPickListFooter">
	<div class="actions">
		<button id="cancelBtn" class="btn btn-default" type="button" ng-click="uiClose()" isc-i18n="popups.ACTION_Cancel"></button>
		<button id="printBtn"  class="btn btn-default btn-primary" type="submit"  ng-click="uiSubmit()" isc-i18n="printPickList.ACTION_Print" ng-disabled="!ui.printBOPISShipments && !ui.printSFSShipments"></button>
	</div>
</footer>
